<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta name="x-apple-disable-message-reformatting">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">

    <style>
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        body {
            margin: 0px;
            padding: 0px;
        }

        hr {
            border: 0.5px solid rgba(0, 0, 0, 0.1);
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .container {
            font-family: 'Poppins', sans-serif;
            margin: 0px auto;
            padding: 0px 100px;
        }

        .card {
            text-align: center;
            background-color: #fff;
            padding: 40px 50px;
            border-radius: 10px;
            margin: 20px 0px;
        }

        .card-logo img {
            width: 10rem;
        }

        .card-content {
            padding: 0px 25px;
        }

        .announcement-image {
            max-width: 60%;
        }

        .submit {
            margin: 15px 0px;
            background: rgb(136, 208, 238);
            color: white;
            font-size: 18px;
            width: 60%;
            height: 50px;
            border: none;
            border-radius: 50px;
            font-weight: 600;
        }

        .social-media {
            display: inline;
            justify-content: center !important;
            text-align: center !important;
            padding: 0px 150px;
        }

        .social-media img {
            padding: 10px;
        }
    </style>
</head>

<body style="margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;margin: 0px;padding: 0px;"
    align="center">

    <table class="container" style="font-family:'Poppins', sans-serif;background-color:#F6F8FA; width: 100%;" align="center">
        <tr>
            <td align="center">

                <table class="card" align="center" style="z-index: 100;text-align: center;background-color: #fff;padding: 40px 50px;border-radius: 10px;margin: 20px 0px;">
                    <tbody align="center">

                        <tr class="card-logo">
                            <td>
                                <img src="https://res.cloudinary.com/biensupernice/image/upload/v1545105283/email_bg_4_zz1dbx.jpg"
                                    width="50rem" style="width:50rem;" />
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <h2 style="font-weight:800;font-size:50px; width: 40rem;padding: 0;margin: 0;">You've
                                    applied to Florida's
                                    sweetest hackathon! 🎉</h2>
                            </td>
                        </tr>

                        <tr>
                            <td align="center">
                                <hr style="border: 0.5px solid rgba(0, 0, 0, 1); border-radius: 15px; width:100px; margin-top:20px" />
                            </td>
                        </tr>

                        <tr>
                            <td class="card-content" style="padding-top: 0px;padding-bottom: 20px;padding-right: 25px;padding-left: 25px;padding: 0px 25px;">

                                <h3 style="font-weight:300;">
                                    {{firstName}} sit tight, we'll be getting back to you about your participation at
                                    <b><a href="https://mangohacks.com" style="text-decoration: none;color: #000;">MangoHacks!</a></b>
                                </h3>
                                <h3 style="font-weight:300;">
                                    We're super excited to have you join us at <b>Florida International University</b>
                                    February 1st - 3rd 🗓
                                </h3>
                                <h3 style="font-weight:800;">
                                    We'll be rolling out acceptances in the upcoming weeks.
                                </h3>
                                <h3 style="font-weight:300;">
                                    We'll release details about 🚌 bus information on social media
                                </h3>
                                <h3 style="font-weight:300;">
                                    (so make sure to follow us) and through email as the event gets
                                    closer.
                                </h3>
                            </td>
                        </tr>


                        <tr>
                            <td align="center">
                                <hr style="border: 0.5px solid rgba(0, 0, 0, 1); border-radius: 15px; width:100px; margin-top:20px" />
                            </td>
                        </tr>

                        <tr class="footer">
                            <td>
                                <p>
                                    <span style="font-weight:300;">Have a question? Reach out at</span></br>
                                    <a href="mailto:hi@mangohacks.com" style="text-decoration:none;color:inherit;font-weight:800;">{{config.email}}</a>
                                </p>
                            </td>
                        </tr>
                        <tr class="social-media" style="display: inline;justify-content: center !important;text-align: center !important;padding-top: 0px;padding-bottom: 0px;padding-right: 150px;padding-left: 150px;padding: 0px 150px;">
                            <td class="facebook" align="center">
                                <a href="https://www.facebook.com/mangohacks" style="text-decoration:none;color:inherit;">
                                    <img src="https://i.imgur.com/CZOS2up.png" style="height:1.5rem; padding:10px 5px;" />
                                </a>
                            </td>

                            <td class="twitter" align="center">
                                <a href="https://www.twitter.com/fiumangohacks" style="text-decoration:none;color:inherit;">
                                    <img src="https://i.imgur.com/4G7Yajp.png" style="height:1.5rem; padding:10px 5px;" />
                                </a>
                            </td>
                            <td class="instagram" align="center">
                                <a href="https://www.instagram.com/fiumangohacks" style="text-decoration:none;color:inherit;">
                                    <img src="https://i.imgur.com/3SvBpxh.png" style="height:1.5rem; padding:10px 5px;" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </table>
</body>

</html>