<style>
        @media (min-width: 0px){
            #greeting{
                margin: auto !important;
            }
            #umbrella{
                position: absolute;
                right:-30px;
                z-index: -10;
            }
        }
        @media screen and (min-width: 320px) {
            #umbrella{
                position: initial;
            }
            #sand{
                height:150px;
                position: relative;
                z-index: 1000;
            }
            #sandal svg{
                height: 40px;
            }
            #greeting{
                margin: 0 !important;
                flex-basis: 50%;
            }
            #umbrella{
                flex-basis: 50%;
            }
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px
            }
            #greeting{
                line-height: 10px
            }
            #content{
                width: 120px;
                display: flex;
            }
            #umbrella{
                display: flex;
                justify-content: flex-end;
            }
            #umbrella{
                margin: 0;
                padding: 0;
            }
            #umbrella svg{
                height: 200px;
                width: 200px;
            }
            #sandy-bottom svg{
                width: 101%;
            }
        }
        @media screen and (min-width: 500px) {
            #sand{
                height:300px;
            }
            #sandal svg{
                height: 80px;
            }
            h3{
                font-size: 40px;
            }
            p{
                font-size: 30px
            }
            #greeting{
                padding: 60px;
                line-height: 20px;
            }
            #content{
                width: 250px;
            }
            #umbrella svg{
                height: 400px;
                width: 400px;
            }
            #sandy-bottom svg{
                width: 101%;
            }
        }

        @media screen and (min-width: 1000px) {
            #sandal svg{
                height: 100px;
            }
            h3{
                font-size: 50px;
            }
            p{
                font-size: 40px
            }
            #greeting{
                padding: 60px;
                line-height: 20px;
            }
            #content{
                width: 280px;
            }
            #umbrella svg{
                height: 500px;
                width: 500px;
            }
        }

        *{ font-family: Montserrat }
        body{
            margin: 0;
        }
        #sand{
        background-color: #FBEDCA;
        display: flex;
        }

        #greeting{
            margin: 0;
            padding: 3em;
            /*background: blue; */
            text-align: center;
        }

        #greeting h3{
            color: #665B50;
            font-weight: 800;
        }

        #greeting p{
            font-weight: 600;
            color: rgba(62,53,49,.5);
        }

        #content{
            /*background: green; */
            display: inline-block;
            text-align: left;
        }
        #content #sandal{
            text-align: center;
        }
        #info{
            text-align: center;
            padding:  10px;
        }

        #info h3{
            color: #50BCBF;
        }
        #info p{
            font-size: 20px !important;
            color: #665B50;
            text-align: justify;
        }
    </style>


     <div>
                <div id="sand">
                    <div id="greeting">
                        <div id="content">
                            <div id="sandal">
                            <p>
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.331 220.488">
              <g id="Group_12" data-name="Group 12" transform="translate(-449.958 -247.051)">
                <g id="Group_9" data-name="Group 9" transform="translate(449.958 254.657)">
                  <path id="Path_52" data-name="Path 52" d="M605.454,300.21c-.6-.3-1.187-.586-1.738-.844-1.45-.682-2.951-1.278-4.477-1.844-7.939-3.659-15.069-7.969-20.592-13.447-20.8-20.658-109.312-52.771-126.048-.824-23.583,73.206,117.983,100.039,140.339,107.24s74.07,25.761,88.219-29.567C691.632,319.984,642.53,315.244,605.454,300.21Z" transform="translate(-449.959 -221.824)" fill="#f2daa9"/>
                  <path id="Path_53" data-name="Path 53" d="M657.17,363.113c-12.992-19.561-77.2-148.55-141.274-106-45.464,30.2,9.449,106.679,34.969,121.106,6.771,3.825,12.855,9.525,18.53,16.17.955,1.314,1.94,2.6,2.986,3.81.4.465.834.955,1.283,1.45,24.524,31.6,42.4,77.583,78.967,56.4C702.048,427.426,670.167,382.679,657.17,363.113Z" transform="translate(-253.358 -248.557)" fill="#f2daa9"/>
                </g>
                <g id="Group_10" data-name="Group 10" transform="translate(458.322 280.376)">
                  <path id="Path_54" data-name="Path 54" d="M682.812,359.417c-14.149,55.328-65.864,36.773-88.22,29.572S430.67,354.955,454.254,281.749C470.99,229.8,559.5,261.915,580.3,282.567,611.895,313.933,696.228,306.98,682.812,359.417Z" transform="translate(-451.614 -253.646)" fill="#de3774" fill-rule="evenodd"/>
                  <path id="Path_55" data-name="Path 55" d="M556.913,264.325a206.1,206.1,0,0,0-30.6-4.164,125.654,125.654,0,0,0-27.96,1.531,96.77,96.77,0,0,0-13.654,3.391c-2.8.93-6.64,1.946-9.167,3.876a36.8,36.8,0,0,0-5.013-2.774c-2.628-1.289-2.476-1.566-5.23-2.633-2.117-.819-4.957-2.047-7.2-.637a3.538,3.538,0,0,0-1.137,4.75c1.036,1.86,3.638,3.022,5.5,4.083a29.133,29.133,0,0,0,9.338,3.876c.349.222.7.45,1.046.677a19.274,19.274,0,0,0,1.41,4.427,88.265,88.265,0,0,0,6.008,11.345,100.826,100.826,0,0,0,16.014,19.779c.131.126.273.253.409.379a144.642,144.642,0,0,0,46.343,37.02q5.579,2.842,11.43,5.235c3.578,1.46,8.105,3.891,12.254,2.623,9.531-2.921.03-12.072-3.8-14.932-7.014-5.225-15.412-8.939-22.805-13.73a164.7,164.7,0,0,1-21.284-16.251A125.791,125.791,0,0,1,501.6,293.148a104.022,104.022,0,0,1-7.165-11.4c-.369-.677-1.561-2.122-.94-2.936.323-.419,2.85-.667,3.457-.8q3.676-.819,7.393-1.46a170.657,170.657,0,0,1,58.421.015q7.345,1.281,14.493,3.229,3.343.909,6.63,1.955c2.132.682,4.411,1.86,6.68,2.122a3.39,3.39,0,0,0,3.866-4.558c-1.117-3.416-5.543-5.589-8.788-7.1C576.868,268.095,566.569,266.29,556.913,264.325Z" transform="translate(-431.888 -227.995)" fill="#ac084c"/>
                </g>
                <g id="Group_11" data-name="Group 11" transform="translate(703.427 247.051)">
                  <path id="Path_56" data-name="Path 56" d="M654.288,454.543c49.421-28.621,17.535-73.368,4.538-92.934s-77.2-148.555-141.274-106c-45.464,30.2,9.449,106.679,34.968,121.106C591.273,398.614,607.449,481.674,654.288,454.543Z" transform="translate(-500.118 -247.051)" fill="#de3774" fill-rule="evenodd"/>
                  <path id="Path_57" data-name="Path 57" d="M534.416,349.6a206.12,206.12,0,0,1-12.3-28.324,125.728,125.728,0,0,1-6.1-27.333,96.736,96.736,0,0,1-.439-14.058c.131-2.951.076-6.918,1.248-9.874a36.985,36.985,0,0,1-4.033-4.073c-1.95-2.178-2.178-1.961-3.951-4.32-1.365-1.814-3.315-4.22-2.567-6.756a3.538,3.538,0,0,1,4.265-2.385c2.072.5,3.891,2.683,5.422,4.184a29.372,29.372,0,0,1,6.261,7.939c.308.278.621.551.935.824a19.438,19.438,0,0,1,4.644.152,89.565,89.565,0,0,1,12.547,2.709,101.051,101.051,0,0,1,23.381,10.051l.475.293a144.611,144.611,0,0,1,48.2,34.569q4.252,4.6,8.141,9.581c2.375,3.052,5.942,6.751,5.842,11.087-.222,9.965-11.607,3.3-15.4.384-6.933-5.331-12.785-12.411-19.4-18.227a165.009,165.009,0,0,0-21.416-16.08,125.658,125.658,0,0,0-23-11.395,103.686,103.686,0,0,0-12.916-3.81c-.753-.172-2.466-.925-3.083-.106-.318.425.131,2.926.167,3.542q.219,3.76.6,7.509a170.493,170.493,0,0,0,15.857,56.227q3.222,6.723,7.039,13.078,1.781,2.971,3.679,5.852c1.233,1.87,2.987,3.745,3.851,5.857a3.392,3.392,0,0,1-3.34,4.957c-3.587-.152-6.877-3.825-9.222-6.534C543.456,367.785,538.928,358.361,534.416,349.6Z" transform="translate(-475.879 -225.474)" fill="#ac084c"/>
                </g>
              </g>
            </svg>
            
                            </p>
                            </div>
                             <h3>CONGRATS</h3>
                             <p>{{firstName}}</p>
                             <p>{{lastName}}</p>
                        </div>
                    </div>
                    <div id="umbrella">
                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 868.502 1219.509">
              <g id="Group_14" data-name="Group 14" transform="translate(-490.355)">
                <path id="Path_63" data-name="Path 63" d="M1227.257,89.327h.007l-7.2,34.5L1190.937,263.72l-1.15,5.5h0l-36.471,175.1h.008L1140.5,505.928h-.008l-44.53,213.8-4.754,22.829h-.007l-17.411,83.613L506.471,708.018l-1.285,6.175L1101.92,838.481l161.6-775.917q-15.355-.482-30.589-.493Z" transform="translate(91.04 381.027)" fill="#f2daa9"/>
                <path id="Path_64" data-name="Path 64" d="M750.542,208.149q-21.79-22.6-44.637-43.431c-2.884,1.192-5.768,2.384-8.644,3.612q-18.385-19.82-37.563-38.3l-121-25.2,11.557-55.5h0L518.056,203.894l8.823-42.31Z" transform="translate(170.042 302.823)" fill="#fff"/>
                <path id="Path_65" data-name="Path 65" d="M1109.118,373.08l36.469-175.1L548.856,73.678l-11.819,56.748,596.73,124.3-12.832,61.6-596.73-124.3-11.819,56.745Z" transform="translate(135.24 452.27)" fill="#fff"/>
                <path id="Path_66" data-name="Path 66" d="M699.775,62.072a957.818,957.818,0,0,0-107.734,6L694.1,89.327Z" transform="translate(624.197 381.027)" fill="#fff"/>
                <path id="Path_67" data-name="Path 67" d="M1102.208,429.685l-8.067,38.769,44.53-213.8-596.733-124.3,5.7-27.34L505.482,305.376Zm-572.084-242.6,596.74,124.245-12.835,61.605L517.3,248.689Z" transform="translate(92.857 632.306)" fill="#fff"/>
                <path id="Path_68" data-name="Path 68" d="M1115.4,264.29l-596.733-124.3-17.418,83.63,29.419,6.127L1097.981,347.9Z" transform="translate(66.845 859.3)" fill="#fff"/>
                <path id="Path_69" data-name="Path 69" d="M661.948,67.3A1051.7,1051.7,0,0,0,554.9,104.212l342.547,71.32-11.671,56.1L914.906,91.741l-5.639,27.048Z" transform="translate(396.202 413.113)" fill="#fff"/>
                <path id="Path_70" data-name="Path 70" d="M1110.777,267.536l12.832-61.6-596.73-124.3h-.006l-12.832,61.6h.007Z" transform="translate(145.397 501.067)" fill="#50bcbf"/>
                <path id="Path_71" data-name="Path 71" d="M1114.229,250.9h0l1.149-5.5,11.671-56.1L784.5,117.975c-.7.286-1.4.564-2.092.842q-7.763,3.159-15.5,6.439c-3.341-3.619-6.724-7.181-10.108-10.729-.935-.978-1.877-1.934-2.812-2.905L530.323,65.057l-8.823,42.31-4,19.231h0Z" transform="translate(166.598 399.351)" fill="#50bcbf"/>
                <path id="Path_72" data-name="Path 72" d="M609.792,100.551q-2.87-2.109-5.754-4.19c-2.4-1.735-4.811-3.448-7.224-5.161-2.02-1.428-4.033-2.863-6.061-4.283q-4.379-3.052-8.8-6.039-4.861-3.309-9.765-6.56c-2.034-1.349-4.062-2.7-6.1-4.026q-3.705-2.42-7.446-4.8c-1.9-1.214-3.8-2.413-5.7-3.619-2.534-1.592-5.075-3.191-7.624-4.768-1.92-1.185-3.862-2.349-5.789-3.526-2.334-1.413-4.668-2.841-7.017-4.24l-11.557,55.5,121,25.2q-15.194-14.67-30.881-28.532C610.642,101.186,610.221,100.865,609.792,100.551Z" transform="translate(187.788 302.823)" fill="#50bcbf"/>
                <path id="Path_73" data-name="Path 73" d="M707.6,65.418c-6.01.8-12.006,1.678-17.989,2.591q-2.345.364-4.676.742Q678.15,69.822,671.375,71c-1.621.286-3.255.55-4.876.842q-7.956,1.413-15.876,2.977c-2.277.45-4.547.914-6.817,1.371q-5.268,1.081-10.53,2.206c-2.334.507-4.675.992-7,1.513q-7.324,1.628-14.613,3.369-4.09.985-8.173,2.006-4.187,1.039-8.381,2.113c-2.869.735-5.732,1.463-8.594,2.227-4.455,1.185-8.909,2.413-13.349,3.655-1.092.307-2.177.635-3.269.949l247.319,51.49,5.639-27.048,7.2-34.5h-.007L727.984,62.912l-.286.036q-9.626,1.071-19.2,2.356C708.2,65.339,707.9,65.375,707.6,65.418Z" transform="translate(488.254 386.184)" fill="#50bcbf"/>
                <path id="Path_74" data-name="Path 74" d="M1107.321,284.115h0l12.829-61.6h0L523.42,98.207h0l-7.137,34.269-5.693,27.337Z" transform="translate(124.207 602.838)" fill="#50bcbf"/>
                <path id="Path_75" data-name="Path 75" d="M1100.417,317.262h0l4.751-22.828,8.07-38.774-596.726-124.3h0l-12.829,61.6h0Z" transform="translate(81.824 806.328)" fill="#50bcbf"/>
                <rect id="Rectangle_5" data-name="Rectangle 5" width="62.927" height="609.533" transform="translate(610.155 880.977) rotate(-78.235)" fill="#50bcbf"/>
                <path id="Path_76" data-name="Path 76" d="M866.054,131.758l-12.828,61.6L741.945,170.177a958.05,958.05,0,0,0-173.9,22.979l171.309,35.685-.293.036.286-.036a957.811,957.811,0,0,1,107.734-6q15.237.011,30.589.493c1.435.05,2.862.079,4.3.129V35.881q-25.206,43.527-46.143,89.581Z" transform="translate(476.892 220.255)" fill="#ebdbbb"/>
                <path id="Path_77" data-name="Path 77" d="M531.984,55.189C529.45,53.6,526.909,52,524.36,50.42,526.909,52,529.45,53.6,531.984,55.189Z" transform="translate(208.739 309.502)" fill="#ebdbbb"/>
                <path id="Path_78" data-name="Path 78" d="M526.227,51.6q3.737,2.388,7.446,4.8Q529.968,53.979,526.227,51.6Z" transform="translate(220.199 316.715)" fill="#ebdbbb"/>
                <path id="Path_79" data-name="Path 79" d="M654.55,135.883c-2.341-1.421-4.662-2.863-7.017-4.269l1.271-6.075,6.274,1.306A996.272,996.272,0,0,0,502.772,35.923c-.1,7.938-.264,15.9-.564,23.885a1050.419,1050.419,0,0,1,145.325,71.834h0C649.882,133.042,652.216,134.47,654.55,135.883Z" transform="translate(72.759 220.512)" fill="#ebdbbb"/>
                <path id="Path_80" data-name="Path 80" d="M572.223,68.569c2.863-.764,5.725-1.492,8.595-2.227C577.948,67.077,575.086,67.813,572.223,68.569Z" transform="translate(502.545 407.239)" fill="#ebdbbb"/>
                <path id="Path_81" data-name="Path 81" d="M538.341,60.11q-2.87-2.109-5.754-4.19Q535.468,58.008,538.341,60.11Z" transform="translate(259.24 343.263)" fill="#ebdbbb"/>
                <path id="Path_82" data-name="Path 82" d="M536.787,58.88c-2.02-1.428-4.033-2.863-6.061-4.283C532.753,56.018,534.766,57.452,536.787,58.88Z" transform="translate(247.816 335.142)" fill="#ebdbbb"/>
                <path id="Path_83" data-name="Path 83" d="M577.793,66.594c2.327-.521,4.669-1.007,7-1.513C582.462,65.581,580.12,66.073,577.793,66.594Z" transform="translate(536.736 399.498)" fill="#ebdbbb"/>
                <path id="Path_84" data-name="Path 84" d="M586.011,64.368q2.335-.375,4.676-.742Q588.342,63.99,586.011,64.368Z" transform="translate(587.182 390.566)" fill="#ebdbbb"/>
                <path id="Path_85" data-name="Path 85" d="M589.186,63.361c.3-.043.593-.079.892-.114C589.779,63.283,589.486,63.318,589.186,63.361Z" transform="translate(606.671 388.24)" fill="#ebdbbb"/>
                <path id="Path_86" data-name="Path 86" d="M729.843,91.505c-1.114.314-2.234.6-3.348.921L586.138,63.2q-21,7.731-41.767,16.383,22.851,20.826,44.637,43.43c.935.971,1.878,1.927,2.812,2.905-.928-.971-1.834-1.97-2.762-2.934l30.41,6.382c-.678.271-1.356.571-2.034.842.692-.278,1.392-.557,2.092-.842A1051.676,1051.676,0,0,1,726.574,92.455C727.666,92.14,728.751,91.812,729.843,91.505Z" transform="translate(331.576 387.958)" fill="#ebdbbb"/>
                <path id="Path_87" data-name="Path 87" d="M583.428,64.887c1.621-.293,3.255-.557,4.876-.842C586.683,64.331,585.049,64.595,583.428,64.887Z" transform="translate(571.326 393.139)" fill="#ebdbbb"/>
                <path id="Path_88" data-name="Path 88" d="M580.249,65.951c2.27-.457,4.54-.921,6.817-1.371C584.789,65.03,582.519,65.494,580.249,65.951Z" transform="translate(551.812 396.423)" fill="#ebdbbb"/>
                <path id="Path_89" data-name="Path 89" d="M537.89,59.392q-4.861-3.309-9.765-6.56Q533.029,56.087,537.89,59.392Z" transform="translate(231.85 324.308)" fill="#ebdbbb"/>
                <path id="Path_90" data-name="Path 90" d="M574.6,67.771q4.09-1.017,8.173-2.006Q578.684,66.75,574.6,67.771Z" transform="translate(517.142 403.697)" fill="#ebdbbb"/>
                <path id="Path_91" data-name="Path 91" d="M592.405,93.145l111.282,23.179,12.828-61.6-30.231-6.3q-10.045,22.036-19.167,44.63Q629.393,91.636,592.405,93.145Z" transform="translate(626.431 297.286)" fill="#40a4a3"/>
                <path id="Path_92" data-name="Path 92" d="M543,67.116c1.906,1.206,3.805,2.406,5.7,3.619q3.737,2.388,7.446,4.8c2.042,1.328,4.069,2.677,6.1,4.026q4.9,3.255,9.765,6.56,4.412,3,8.8,6.039c2.027,1.421,4.041,2.855,6.061,4.283,2.413,1.713,4.825,3.426,7.224,5.161q2.881,2.088,5.754,4.19c.428.314.85.635,1.278.949Q566.76,76.371,530.111,49.783l-6.274-1.306-1.271,6.075c2.356,1.406,4.676,2.848,7.017,4.269,1.927,1.178,3.869,2.341,5.789,3.526C537.921,63.925,540.462,65.524,543,67.116Z" transform="translate(197.726 297.575)" fill="#40a4a3"/>
                <path id="Path_93" data-name="Path 93" d="M550.222,95.661l140.357,29.225c1.114-.321,2.234-.607,3.348-.921,4.44-1.242,8.895-2.47,13.349-3.655,2.863-.757,5.725-1.492,8.595-2.227q4.187-1.071,8.381-2.113,4.09-1.017,8.173-2.006,7.292-1.735,14.613-3.369c2.327-.521,4.669-1.014,7-1.513q5.258-1.124,10.529-2.206c2.27-.457,4.54-.921,6.817-1.371q7.924-1.553,15.876-2.977c1.621-.293,3.255-.557,4.876-.842q6.767-1.167,13.563-2.249,2.335-.375,4.676-.742c5.982-.914,11.978-1.792,17.989-2.591.3-.043.593-.079.893-.114q9.573-1.274,19.2-2.356l.293-.036L677.444,57.913A1019.751,1019.751,0,0,0,550.222,95.661Z" transform="translate(367.492 355.497)" fill="#40a4a3"/>
                <path id="Path_94" data-name="Path 94" d="M550.631,71.576c.928.964,1.835,1.963,2.763,2.934,3.384,3.548,6.767,7.11,10.108,10.729q7.741-3.3,15.5-6.439c.678-.271,1.356-.571,2.034-.842Z" transform="translate(370.002 439.367)" fill="#40a4a3"/>
                <path id="Path_95" data-name="Path 95" d="M712.007,347.358q36.621,26.619,71.021,56.965,15.686,13.866,30.881,28.532,19.166,18.492,37.563,38.3L949.6,0H839.172L492.934,226.854q34.019,13.727,66.766,29.582A996.274,996.274,0,0,1,712.007,347.358Z" transform="translate(15.831)" fill="#e86ba4"/>
                <path id="Path_96" data-name="Path 96" d="M855,0H490.355a957.967,957.967,0,0,1,18.41,226.854Z" fill="#fffffd"/>
                <path id="Path_97" data-name="Path 97" d="M822.812,390.346q9.112-22.593,19.167-44.63,20.965-46.043,46.143-89.581V0H567.041Z" transform="translate(470.735)" fill="#e86ba4"/>
                <path id="Path_98" data-name="Path 98" d="M543.16,471.154c2.877-1.228,5.761-2.42,8.645-3.612q20.773-8.63,41.767-16.383A1019.747,1019.747,0,0,1,720.794,413.41a958.05,958.05,0,0,1,173.9-22.979q36.995-1.467,74.711-.086L713.634,0H641.293Z" transform="translate(324.142)" fill="#fffffd"/>
              </g>
            </svg>
                    </div>
                </div>
                <div id="sandy-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1920 382.985">
              <g id="Group_18" data-name="Group 18" transform="translate(37.33 9.732)">
                <path id="Path_109" data-name="Path 109" d="M1873.574-9.732l9.1,318.8c-28.931,2.078-64,4.584-106.937,7.607-89.4,6.289-135.106,23.4-225.152,35.652-197.16,26.817-221.072-43.125-417.935-19.922-113.355,13.341-177.386,66.521-330.917,25.721-208.4-55.431-433.126,49.061-559.343,1.225-80.1-30.364-188.5-63.187-273.408-18.974L-37.33-9.732Z" fill="#fbedca" fill-rule="evenodd"/>
              </g>
            </svg>
            
                </div>
                <div id="info">
                    <h3>Dank Meme Life</h3>
                    <p>gnore the squirrels, you'll never catch them anyway your pillow is now my pet bed for i show my fluffy belly but it's a trap! if you pet it i will tear up your hand so i heard this rumor where the humans are our owners, pfft, what do they know?!. Stretch terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry. Chase ball of string cats are cute yet stare at ceiling. Meow meow, i tell my human catty ipsum kitty time refuse to leave cardboard box. If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to on If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to onIf it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, </p>
                </div>
            </div>