<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    
    html, body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    footer{
    position: relative;
    }
    footer p{
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 12px;
        color: white;
        left: 5px;
    }
        
@media screen and (min-width: 320px) {
    #sand{
        height:150px;
        position: relative;
        z-index: 1000;
    }
    #sandal svg{
        height: 40px;
    }
    #greeting{
        flex-basis: 50%;
    }
    #umbrella{
        flex-basis: 50%;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 15px
    }
    #greeting{
        line-height: 10px
    }
    #content{
        width: 120px;
        display: flex;
    }
    #umbrella{
        display: flex;
        justify-content: flex-end;
    }
    #umbrella{
        margin: 0;
        padding: 0;
    }
    #umbrella svg{
        height: 200px;
        width: 200px;
    }
    #sandy-bottom svg{
        width: 101%;
    }
}
@media screen and (min-width: 500px) {
    footer p{
        font-size: 14px;
        left: 10px;
    }
    .info h3, .info p, .mapouter g.gmap_canvas{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #options{
        display: flex;
        justify-content: space-between;
    }
    #options .pink{
        flex-basis: 40%;
    }
    #sand{
        height:300px;
    }
    #sandal svg{
        height: 80px;
    }
    h3{
        font-size: 40px;
    }
    p{
        font-size: 30px
    }
    #greeting{
        padding: 60px;
        line-height: 20px;
    }
    #content{
        width: 250px;
    }
    #umbrella svg{
        height: 400px;
        width: 400px;
    }
    #sandy-bottom svg{
        width: 101%;
    }
}
@media screen and (min-width: 1000px) {
    footer p{
        font-size: 25px;
        left: 20px;
    }
    .info h3, .info p, .mapouter g.gmap_canvas{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    #sandal svg{
        height: 100px;
    }
     h3{
        font-size: 50px;
    }
    p{
        font-size: 40px
    }
    #greeting{
        padding: 60px;
        line-height: 20px;
    }
    #content{
        width: 280px;
    }
    #umbrella svg{
        height: 500px;
        width: 500px;
    }
}
*{ font-family: Montserrat }
body{
    margin: 0;
}
#sand{
   background-color: #FBEDCA;
   display: flex;
}
#greeting{
    margin: 0;
    padding: 3em;
    /*background: blue; */
    text-align: center;
}
#greeting h3{
    color: #665B50;
    font-weight: 800;
}
#greeting p{
    font-weight: 600;
    color: rgba(62,53,49,.5);
}
#content{
    /*background: green; */
    display: inline-block;
    text-align: left;
}
#content #sandal{
    text-align: center;
}
.info{
    text-align: center;
    padding:  10px;
}
.info h3{
    color: #50BCBF;
}
.info p{
    font-size: 20px !important;
    color: #665B50;
    text-align: justify;
}
.maprouter{
    margin-top: 30px;
}
#gmap_canvas{
    width: 80vw;
    height: 80vw;
    max-width: 1000px;
    max-height: 1000px;
}
#options .pink{
    width: 100%;
    margin: 5px auto;
    display: block;
    background: #E86BA4;
    color: #fff;
    border-color: #E86BA4;
    padding: 12px;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: .2px;
    font-size: 30px;
    max-width: 400px;
}
a{
    color:#50BCBF;
}
a:visited{
    color:#E86BA4;
}
footer svg{
  margin-bottom: -10px;
  width: 100vw;
  height: auto;
}
 .info, #options{
    margin: auto;
    max-width: 1000px;
}
</style>
<body>
        <div>
        <div id="sand">
            <div id="greeting">
                <div id="content">
                    <div id="sandal">
                    <p>
                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.331 220.488">
      <g id="Group_12" data-name="Group 12" transform="translate(-449.958 -247.051)">
        <g id="Group_9" data-name="Group 9" transform="translate(449.958 254.657)">
          <path id="Path_52" data-name="Path 52" d="M605.454,300.21c-.6-.3-1.187-.586-1.738-.844-1.45-.682-2.951-1.278-4.477-1.844-7.939-3.659-15.069-7.969-20.592-13.447-20.8-20.658-109.312-52.771-126.048-.824-23.583,73.206,117.983,100.039,140.339,107.24s74.07,25.761,88.219-29.567C691.632,319.984,642.53,315.244,605.454,300.21Z" transform="translate(-449.959 -221.824)" fill="#f2daa9"/>
          <path id="Path_53" data-name="Path 53" d="M657.17,363.113c-12.992-19.561-77.2-148.55-141.274-106-45.464,30.2,9.449,106.679,34.969,121.106,6.771,3.825,12.855,9.525,18.53,16.17.955,1.314,1.94,2.6,2.986,3.81.4.465.834.955,1.283,1.45,24.524,31.6,42.4,77.583,78.967,56.4C702.048,427.426,670.167,382.679,657.17,363.113Z" transform="translate(-253.358 -248.557)" fill="#f2daa9"/>
        </g>
        <g id="Group_10" data-name="Group 10" transform="translate(458.322 280.376)">
          <path id="Path_54" data-name="Path 54" d="M682.812,359.417c-14.149,55.328-65.864,36.773-88.22,29.572S430.67,354.955,454.254,281.749C470.99,229.8,559.5,261.915,580.3,282.567,611.895,313.933,696.228,306.98,682.812,359.417Z" transform="translate(-451.614 -253.646)" fill="#de3774" fill-rule="evenodd"/>
          <path id="Path_55" data-name="Path 55" d="M556.913,264.325a206.1,206.1,0,0,0-30.6-4.164,125.654,125.654,0,0,0-27.96,1.531,96.77,96.77,0,0,0-13.654,3.391c-2.8.93-6.64,1.946-9.167,3.876a36.8,36.8,0,0,0-5.013-2.774c-2.628-1.289-2.476-1.566-5.23-2.633-2.117-.819-4.957-2.047-7.2-.637a3.538,3.538,0,0,0-1.137,4.75c1.036,1.86,3.638,3.022,5.5,4.083a29.133,29.133,0,0,0,9.338,3.876c.349.222.7.45,1.046.677a19.274,19.274,0,0,0,1.41,4.427,88.265,88.265,0,0,0,6.008,11.345,100.826,100.826,0,0,0,16.014,19.779c.131.126.273.253.409.379a144.642,144.642,0,0,0,46.343,37.02q5.579,2.842,11.43,5.235c3.578,1.46,8.105,3.891,12.254,2.623,9.531-2.921.03-12.072-3.8-14.932-7.014-5.225-15.412-8.939-22.805-13.73a164.7,164.7,0,0,1-21.284-16.251A125.791,125.791,0,0,1,501.6,293.148a104.022,104.022,0,0,1-7.165-11.4c-.369-.677-1.561-2.122-.94-2.936.323-.419,2.85-.667,3.457-.8q3.676-.819,7.393-1.46a170.657,170.657,0,0,1,58.421.015q7.345,1.281,14.493,3.229,3.343.909,6.63,1.955c2.132.682,4.411,1.86,6.68,2.122a3.39,3.39,0,0,0,3.866-4.558c-1.117-3.416-5.543-5.589-8.788-7.1C576.868,268.095,566.569,266.29,556.913,264.325Z" transform="translate(-431.888 -227.995)" fill="#ac084c"/>
        </g>
        <g id="Group_11" data-name="Group 11" transform="translate(703.427 247.051)">
          <path id="Path_56" data-name="Path 56" d="M654.288,454.543c49.421-28.621,17.535-73.368,4.538-92.934s-77.2-148.555-141.274-106c-45.464,30.2,9.449,106.679,34.968,121.106C591.273,398.614,607.449,481.674,654.288,454.543Z" transform="translate(-500.118 -247.051)" fill="#de3774" fill-rule="evenodd"/>
          <path id="Path_57" data-name="Path 57" d="M534.416,349.6a206.12,206.12,0,0,1-12.3-28.324,125.728,125.728,0,0,1-6.1-27.333,96.736,96.736,0,0,1-.439-14.058c.131-2.951.076-6.918,1.248-9.874a36.985,36.985,0,0,1-4.033-4.073c-1.95-2.178-2.178-1.961-3.951-4.32-1.365-1.814-3.315-4.22-2.567-6.756a3.538,3.538,0,0,1,4.265-2.385c2.072.5,3.891,2.683,5.422,4.184a29.372,29.372,0,0,1,6.261,7.939c.308.278.621.551.935.824a19.438,19.438,0,0,1,4.644.152,89.565,89.565,0,0,1,12.547,2.709,101.051,101.051,0,0,1,23.381,10.051l.475.293a144.611,144.611,0,0,1,48.2,34.569q4.252,4.6,8.141,9.581c2.375,3.052,5.942,6.751,5.842,11.087-.222,9.965-11.607,3.3-15.4.384-6.933-5.331-12.785-12.411-19.4-18.227a165.009,165.009,0,0,0-21.416-16.08,125.658,125.658,0,0,0-23-11.395,103.686,103.686,0,0,0-12.916-3.81c-.753-.172-2.466-.925-3.083-.106-.318.425.131,2.926.167,3.542q.219,3.76.6,7.509a170.493,170.493,0,0,0,15.857,56.227q3.222,6.723,7.039,13.078,1.781,2.971,3.679,5.852c1.233,1.87,2.987,3.745,3.851,5.857a3.392,3.392,0,0,1-3.34,4.957c-3.587-.152-6.877-3.825-9.222-6.534C543.456,367.785,538.928,358.361,534.416,349.6Z" transform="translate(-475.879 -225.474)" fill="#ac084c"/>
        </g>
      </g>
    </svg>
    
                    </p>
                    </div>
                     <h3>CONGRATS</h3>
                     <p style="text-transform:uppercase" >{{firstName}}</p>
                     <p style="text-transform:uppercase" >{{lastName}}</p>
                </div>
            </div>
            <div id="umbrella">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 868.502 1219.509">
      <g id="Group_14" data-name="Group 14" transform="translate(-490.355)">
        <path id="Path_63" data-name="Path 63" d="M1227.257,89.327h.007l-7.2,34.5L1190.937,263.72l-1.15,5.5h0l-36.471,175.1h.008L1140.5,505.928h-.008l-44.53,213.8-4.754,22.829h-.007l-17.411,83.613L506.471,708.018l-1.285,6.175L1101.92,838.481l161.6-775.917q-15.355-.482-30.589-.493Z" transform="translate(91.04 381.027)" fill="#f2daa9"/>
        <path id="Path_64" data-name="Path 64" d="M750.542,208.149q-21.79-22.6-44.637-43.431c-2.884,1.192-5.768,2.384-8.644,3.612q-18.385-19.82-37.563-38.3l-121-25.2,11.557-55.5h0L518.056,203.894l8.823-42.31Z" transform="translate(170.042 302.823)" fill="#fff"/>
        <path id="Path_65" data-name="Path 65" d="M1109.118,373.08l36.469-175.1L548.856,73.678l-11.819,56.748,596.73,124.3-12.832,61.6-596.73-124.3-11.819,56.745Z" transform="translate(135.24 452.27)" fill="#fff"/>
        <path id="Path_66" data-name="Path 66" d="M699.775,62.072a957.818,957.818,0,0,0-107.734,6L694.1,89.327Z" transform="translate(624.197 381.027)" fill="#fff"/>
        <path id="Path_67" data-name="Path 67" d="M1102.208,429.685l-8.067,38.769,44.53-213.8-596.733-124.3,5.7-27.34L505.482,305.376Zm-572.084-242.6,596.74,124.245-12.835,61.605L517.3,248.689Z" transform="translate(92.857 632.306)" fill="#fff"/>
        <path id="Path_68" data-name="Path 68" d="M1115.4,264.29l-596.733-124.3-17.418,83.63,29.419,6.127L1097.981,347.9Z" transform="translate(66.845 859.3)" fill="#fff"/>
        <path id="Path_69" data-name="Path 69" d="M661.948,67.3A1051.7,1051.7,0,0,0,554.9,104.212l342.547,71.32-11.671,56.1L914.906,91.741l-5.639,27.048Z" transform="translate(396.202 413.113)" fill="#fff"/>
        <path id="Path_70" data-name="Path 70" d="M1110.777,267.536l12.832-61.6-596.73-124.3h-.006l-12.832,61.6h.007Z" transform="translate(145.397 501.067)" fill="#50bcbf"/>
        <path id="Path_71" data-name="Path 71" d="M1114.229,250.9h0l1.149-5.5,11.671-56.1L784.5,117.975c-.7.286-1.4.564-2.092.842q-7.763,3.159-15.5,6.439c-3.341-3.619-6.724-7.181-10.108-10.729-.935-.978-1.877-1.934-2.812-2.905L530.323,65.057l-8.823,42.31-4,19.231h0Z" transform="translate(166.598 399.351)" fill="#50bcbf"/>
        <path id="Path_72" data-name="Path 72" d="M609.792,100.551q-2.87-2.109-5.754-4.19c-2.4-1.735-4.811-3.448-7.224-5.161-2.02-1.428-4.033-2.863-6.061-4.283q-4.379-3.052-8.8-6.039-4.861-3.309-9.765-6.56c-2.034-1.349-4.062-2.7-6.1-4.026q-3.705-2.42-7.446-4.8c-1.9-1.214-3.8-2.413-5.7-3.619-2.534-1.592-5.075-3.191-7.624-4.768-1.92-1.185-3.862-2.349-5.789-3.526-2.334-1.413-4.668-2.841-7.017-4.24l-11.557,55.5,121,25.2q-15.194-14.67-30.881-28.532C610.642,101.186,610.221,100.865,609.792,100.551Z" transform="translate(187.788 302.823)" fill="#50bcbf"/>
        <path id="Path_73" data-name="Path 73" d="M707.6,65.418c-6.01.8-12.006,1.678-17.989,2.591q-2.345.364-4.676.742Q678.15,69.822,671.375,71c-1.621.286-3.255.55-4.876.842q-7.956,1.413-15.876,2.977c-2.277.45-4.547.914-6.817,1.371q-5.268,1.081-10.53,2.206c-2.334.507-4.675.992-7,1.513q-7.324,1.628-14.613,3.369-4.09.985-8.173,2.006-4.187,1.039-8.381,2.113c-2.869.735-5.732,1.463-8.594,2.227-4.455,1.185-8.909,2.413-13.349,3.655-1.092.307-2.177.635-3.269.949l247.319,51.49,5.639-27.048,7.2-34.5h-.007L727.984,62.912l-.286.036q-9.626,1.071-19.2,2.356C708.2,65.339,707.9,65.375,707.6,65.418Z" transform="translate(488.254 386.184)" fill="#50bcbf"/>
        <path id="Path_74" data-name="Path 74" d="M1107.321,284.115h0l12.829-61.6h0L523.42,98.207h0l-7.137,34.269-5.693,27.337Z" transform="translate(124.207 602.838)" fill="#50bcbf"/>
        <path id="Path_75" data-name="Path 75" d="M1100.417,317.262h0l4.751-22.828,8.07-38.774-596.726-124.3h0l-12.829,61.6h0Z" transform="translate(81.824 806.328)" fill="#50bcbf"/>
        <rect id="Rectangle_5" data-name="Rectangle 5" width="62.927" height="609.533" transform="translate(610.155 880.977) rotate(-78.235)" fill="#50bcbf"/>
        <path id="Path_76" data-name="Path 76" d="M866.054,131.758l-12.828,61.6L741.945,170.177a958.05,958.05,0,0,0-173.9,22.979l171.309,35.685-.293.036.286-.036a957.811,957.811,0,0,1,107.734-6q15.237.011,30.589.493c1.435.05,2.862.079,4.3.129V35.881q-25.206,43.527-46.143,89.581Z" transform="translate(476.892 220.255)" fill="#ebdbbb"/>
        <path id="Path_77" data-name="Path 77" d="M531.984,55.189C529.45,53.6,526.909,52,524.36,50.42,526.909,52,529.45,53.6,531.984,55.189Z" transform="translate(208.739 309.502)" fill="#ebdbbb"/>
        <path id="Path_78" data-name="Path 78" d="M526.227,51.6q3.737,2.388,7.446,4.8Q529.968,53.979,526.227,51.6Z" transform="translate(220.199 316.715)" fill="#ebdbbb"/>
        <path id="Path_79" data-name="Path 79" d="M654.55,135.883c-2.341-1.421-4.662-2.863-7.017-4.269l1.271-6.075,6.274,1.306A996.272,996.272,0,0,0,502.772,35.923c-.1,7.938-.264,15.9-.564,23.885a1050.419,1050.419,0,0,1,145.325,71.834h0C649.882,133.042,652.216,134.47,654.55,135.883Z" transform="translate(72.759 220.512)" fill="#ebdbbb"/>
        <path id="Path_80" data-name="Path 80" d="M572.223,68.569c2.863-.764,5.725-1.492,8.595-2.227C577.948,67.077,575.086,67.813,572.223,68.569Z" transform="translate(502.545 407.239)" fill="#ebdbbb"/>
        <path id="Path_81" data-name="Path 81" d="M538.341,60.11q-2.87-2.109-5.754-4.19Q535.468,58.008,538.341,60.11Z" transform="translate(259.24 343.263)" fill="#ebdbbb"/>
        <path id="Path_82" data-name="Path 82" d="M536.787,58.88c-2.02-1.428-4.033-2.863-6.061-4.283C532.753,56.018,534.766,57.452,536.787,58.88Z" transform="translate(247.816 335.142)" fill="#ebdbbb"/>
        <path id="Path_83" data-name="Path 83" d="M577.793,66.594c2.327-.521,4.669-1.007,7-1.513C582.462,65.581,580.12,66.073,577.793,66.594Z" transform="translate(536.736 399.498)" fill="#ebdbbb"/>
        <path id="Path_84" data-name="Path 84" d="M586.011,64.368q2.335-.375,4.676-.742Q588.342,63.99,586.011,64.368Z" transform="translate(587.182 390.566)" fill="#ebdbbb"/>
        <path id="Path_85" data-name="Path 85" d="M589.186,63.361c.3-.043.593-.079.892-.114C589.779,63.283,589.486,63.318,589.186,63.361Z" transform="translate(606.671 388.24)" fill="#ebdbbb"/>
        <path id="Path_86" data-name="Path 86" d="M729.843,91.505c-1.114.314-2.234.6-3.348.921L586.138,63.2q-21,7.731-41.767,16.383,22.851,20.826,44.637,43.43c.935.971,1.878,1.927,2.812,2.905-.928-.971-1.834-1.97-2.762-2.934l30.41,6.382c-.678.271-1.356.571-2.034.842.692-.278,1.392-.557,2.092-.842A1051.676,1051.676,0,0,1,726.574,92.455C727.666,92.14,728.751,91.812,729.843,91.505Z" transform="translate(331.576 387.958)" fill="#ebdbbb"/>
        <path id="Path_87" data-name="Path 87" d="M583.428,64.887c1.621-.293,3.255-.557,4.876-.842C586.683,64.331,585.049,64.595,583.428,64.887Z" transform="translate(571.326 393.139)" fill="#ebdbbb"/>
        <path id="Path_88" data-name="Path 88" d="M580.249,65.951c2.27-.457,4.54-.921,6.817-1.371C584.789,65.03,582.519,65.494,580.249,65.951Z" transform="translate(551.812 396.423)" fill="#ebdbbb"/>
        <path id="Path_89" data-name="Path 89" d="M537.89,59.392q-4.861-3.309-9.765-6.56Q533.029,56.087,537.89,59.392Z" transform="translate(231.85 324.308)" fill="#ebdbbb"/>
        <path id="Path_90" data-name="Path 90" d="M574.6,67.771q4.09-1.017,8.173-2.006Q578.684,66.75,574.6,67.771Z" transform="translate(517.142 403.697)" fill="#ebdbbb"/>
        <path id="Path_91" data-name="Path 91" d="M592.405,93.145l111.282,23.179,12.828-61.6-30.231-6.3q-10.045,22.036-19.167,44.63Q629.393,91.636,592.405,93.145Z" transform="translate(626.431 297.286)" fill="#40a4a3"/>
        <path id="Path_92" data-name="Path 92" d="M543,67.116c1.906,1.206,3.805,2.406,5.7,3.619q3.737,2.388,7.446,4.8c2.042,1.328,4.069,2.677,6.1,4.026q4.9,3.255,9.765,6.56,4.412,3,8.8,6.039c2.027,1.421,4.041,2.855,6.061,4.283,2.413,1.713,4.825,3.426,7.224,5.161q2.881,2.088,5.754,4.19c.428.314.85.635,1.278.949Q566.76,76.371,530.111,49.783l-6.274-1.306-1.271,6.075c2.356,1.406,4.676,2.848,7.017,4.269,1.927,1.178,3.869,2.341,5.789,3.526C537.921,63.925,540.462,65.524,543,67.116Z" transform="translate(197.726 297.575)" fill="#40a4a3"/>
        <path id="Path_93" data-name="Path 93" d="M550.222,95.661l140.357,29.225c1.114-.321,2.234-.607,3.348-.921,4.44-1.242,8.895-2.47,13.349-3.655,2.863-.757,5.725-1.492,8.595-2.227q4.187-1.071,8.381-2.113,4.09-1.017,8.173-2.006,7.292-1.735,14.613-3.369c2.327-.521,4.669-1.014,7-1.513q5.258-1.124,10.529-2.206c2.27-.457,4.54-.921,6.817-1.371q7.924-1.553,15.876-2.977c1.621-.293,3.255-.557,4.876-.842q6.767-1.167,13.563-2.249,2.335-.375,4.676-.742c5.982-.914,11.978-1.792,17.989-2.591.3-.043.593-.079.893-.114q9.573-1.274,19.2-2.356l.293-.036L677.444,57.913A1019.751,1019.751,0,0,0,550.222,95.661Z" transform="translate(367.492 355.497)" fill="#40a4a3"/>
        <path id="Path_94" data-name="Path 94" d="M550.631,71.576c.928.964,1.835,1.963,2.763,2.934,3.384,3.548,6.767,7.11,10.108,10.729q7.741-3.3,15.5-6.439c.678-.271,1.356-.571,2.034-.842Z" transform="translate(370.002 439.367)" fill="#40a4a3"/>
        <path id="Path_95" data-name="Path 95" d="M712.007,347.358q36.621,26.619,71.021,56.965,15.686,13.866,30.881,28.532,19.166,18.492,37.563,38.3L949.6,0H839.172L492.934,226.854q34.019,13.727,66.766,29.582A996.274,996.274,0,0,1,712.007,347.358Z" transform="translate(15.831)" fill="#e86ba4"/>
        <path id="Path_96" data-name="Path 96" d="M855,0H490.355a957.967,957.967,0,0,1,18.41,226.854Z" fill="#fffffd"/>
        <path id="Path_97" data-name="Path 97" d="M822.812,390.346q9.112-22.593,19.167-44.63,20.965-46.043,46.143-89.581V0H567.041Z" transform="translate(470.735)" fill="#e86ba4"/>
        <path id="Path_98" data-name="Path 98" d="M543.16,471.154c2.877-1.228,5.761-2.42,8.645-3.612q20.773-8.63,41.767-16.383A1019.747,1019.747,0,0,1,720.794,413.41a958.05,958.05,0,0,1,173.9-22.979q36.995-1.467,74.711-.086L713.634,0H641.293Z" transform="translate(324.142)" fill="#fffffd"/>
      </g>
    </svg>
            </div>
        </div>
        <div id="sandy-bottom">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1920 382.985">
      <g id="Group_18" data-name="Group 18" transform="translate(37.33 9.732)">
        <path id="Path_109" data-name="Path 109" d="M1873.574-9.732l9.1,318.8c-28.931,2.078-64,4.584-106.937,7.607-89.4,6.289-135.106,23.4-225.152,35.652-197.16,26.817-221.072-43.125-417.935-19.922-113.355,13.341-177.386,66.521-330.917,25.721-208.4-55.431-433.126,49.061-559.343,1.225-80.1-30.364-188.5-63.187-273.408-18.974L-37.33-9.732Z" fill="#fbedca" fill-rule="evenodd"/>
      </g>
    </svg>
    
        </div>
        <div class="info">
            <h3>Dank Meme Life</h3>
            <p>gnore the squirrels, you'll never catch them anyway your pillow is now my pet bed for i show my fluffy belly but it's a trap! if you pet it i will tear up your hand so i heard this rumor where the humans are our owners, pfft, what do they know?!. Stretch terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry. Chase ball of string cats are cute yet stare at ceiling. Meow meow, i tell my human catty ipsum kitty time refuse to leave cardboard box. If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to on If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to onIf it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, </p>
        </div>
        <div class="info">
            <div class="mapouter"><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=florida%20internation&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{}.gmap_canvas {}</style></div>
            <h3>Dank Meme Life</h3>
            <p>gnore the squirrels, you'll never catch them anyway your pillow is now my pet bed for i show my fluffy belly but it's a trap! if you pet it i will tear up your hand so i heard this rumor where the humans are our owners, pfft, what do they know?!. Stretch terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry. Chase ball of string cats are cute yet stare at ceiling. Meow meow, i tell my human catty ipsum kitty time refuse to leave cardboard box. If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to on If it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, human clearly uses close to onIf it fits, i sits sleep everywhere, but not in my bed toy mouse squeak roll over yet sit and stare, </p>
        </div>
        <div id="options">
            <button class="pink">text</button>
            <button class="pink">text</button>
        </div>
        <div class="info">
            <p>I heard this rumor where the humans are our owners, pfft, what do they know?!. This is how a <a href="#a">link looks like</a>. This is a link that has <a href="#">been visited!</a></p>
        </div>
    </div>
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="952" viewBox="0 0 1920 952">
            <defs>
              <clipPath id="clip-path">
                <rect id="Rectangle_8" data-name="Rectangle 8" width="1920" height="952" transform="translate(0 6030)" fill="#fff" stroke="#707070" stroke-width="1"/>
              </clipPath>
            </defs>
            <g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(0 -6030)" clip-path="url(#clip-path)">
              <g id="Group_27" data-name="Group 27" transform="translate(0 -3)">
                <g id="Group_21" data-name="Group 21" transform="translate(376.279 5776.393)">
                  <path id="Path_120" data-name="Path 120" d="M-398.279,998.981h0Z" transform="translate(0 83.344)" fill="#f2daa9" fill-rule="evenodd"/>
                  <path id="Path_123" data-name="Path 123" d="M2428.485,639c-301.9,2.329-500.572,33.7-754.886,25.875-242.578-7.468-767.257-51.6-1513.262,9.467-120.885,9.908-366.944,29.428-558.616-13.159V904.362H2428.485Z" transform="translate(0 78.397)" fill="#70c6c7" fill-rule="evenodd"/>
                  <path id="Path_124" data-name="Path 124" d="M2428.485,660.331c-280.226,13.049-360.707,31.481-544.9,47.013-209.01,17.625-560.78,10.459-837.979.654-279.664-9.894-669.2-47.737-1012.126-5.454-95,11.707-254.034,24.292-431.762,25.634V892.962H2428.485Z" transform="translate(0 189.363)" fill="#25b6ca" fill-rule="evenodd"/>
                  <path id="Path_125" data-name="Path 125" d="M2428.485,714.572c-275.838,49.472-564.533,62.387-935.286,33.8-263.516-20.355-610.481-7.551-853.344,13.927-347.272,30.708-625.606-24.981-911.422-25.687-46.883-.111-88.685.449-126.712,1.526V851.371H2428.485Z" transform="translate(0 230.954)" fill="#10709c" fill-rule="evenodd"/>
                </g>
                <g id="Group_20" data-name="Group 20" transform="translate(133 6145.183)">
                  <path id="Path_110" data-name="Path 110" d="M206.324,425.715q4.768-1.7,13.455-5.448t18.562-9.026q9.874-5.279,19.925-11.58a143.3,143.3,0,0,0,17.54-12.773,53.549,53.549,0,0,0,11.242-12.773q3.746-6.3,1.7-11.751-2.731-6.808-12.433-7.492a78.8,78.8,0,0,0-21.287,1.7,138.533,138.533,0,0,0-22.819,6.811,108.405,108.405,0,0,0-16.69,7.835q-23.847,14.649-33.21,26.738t-7.664,22.991q1.7,10.9,12.942,20.947T216.884,462.5q9.874,6.132,19.925,12.433a155.177,155.177,0,0,1,18.05,13.112,62.767,62.767,0,0,1,12.773,14.477,31.289,31.289,0,0,1,4.769,16.859q0,9.2-5.96,19.927t-19.587,23.331a116.768,116.768,0,0,1-22.65,16.177,166.022,166.022,0,0,1-57.9,19.243,108.973,108.973,0,0,1-28.439.341,63.271,63.271,0,0,1-23.672-7.664,37.168,37.168,0,0,1-15.5-16.859A36.01,36.01,0,0,1,95.459,553.1a50.218,50.218,0,0,1,7.664-20.1,73.731,73.731,0,0,1,15.5-17.2,86.982,86.982,0,0,1,20.268-12.433,141.876,141.876,0,0,1,44.788-11.07q23.325-1.864,45.472-1.872-10.907.346-22.309.853-11.418.511-22.822,2.044a211.264,211.264,0,0,0-22.478,4.257,125.364,125.364,0,0,0-21.63,7.492A81.176,81.176,0,0,0,121.344,517a62.74,62.74,0,0,0-13.452,15.839,43.218,43.218,0,0,0-5.963,18.221,33.543,33.543,0,0,0,4.259,19.074,34.557,34.557,0,0,0,14.646,14.986,59.7,59.7,0,0,0,21.8,6.472,96.954,96.954,0,0,0,26.057-.853,155.424,155.424,0,0,0,27.25-6.982,162.709,162.709,0,0,0,25.544-11.58,94.56,94.56,0,0,0,20.606-15.327q13.616-13.286,17.371-23.672t.51-18.734q-3.239-8.341-11.749-14.815A161.86,161.86,0,0,0,228.974,487.2q-10.727-5.956-22.138-11.751a127.878,127.878,0,0,1-20.265-12.6Q167.491,448.88,162.9,433.891a41.769,41.769,0,0,1,1.7-29.632q6.3-14.642,21.459-27.931a166.853,166.853,0,0,1,35.592-23.5,133.8,133.8,0,0,1,13.283-5.62,127.576,127.576,0,0,1,16.18-4.769,105.878,105.878,0,0,1,16.69-2.385,44.592,44.592,0,0,1,15.327,1.534,23.441,23.441,0,0,1,11.408,7.151q4.422,5.11,5.11,13.964a32.421,32.421,0,0,1-3.916,18.052,61.194,61.194,0,0,1-12.264,15.668,112.466,112.466,0,0,1-17.54,13.283q-9.881,6.132-20.094,11.242-.345.342-6.982,3.407a116.656,116.656,0,0,1-14.305,5.448,41.885,41.885,0,0,1-13.455,2.216Q205.3,431.849,206.324,425.715Z" transform="translate(-95.086 -319.068)" fill="#54493f"/>
                  <path id="Path_111" data-name="Path 111" d="M166.74,568.349q4.775-13.62,12.261-31.676t14.305-34.742q8.176-20.436,14.477-41.553t12.773-41.724q6.466-20.605,13.964-39.849a204.622,204.622,0,0,1,18.393-36.274q3.742-6.132,7.492-8.516t6.642-2.213a5.184,5.184,0,0,1,4.426,3.066,14.182,14.182,0,0,1,1.194,7.664q-1.018,9.194-6.982,26.907t-14.646,39.337q-8.683,21.634-19.584,45.471T210,499.886q-1.709,3.753-4.6,10.9T198.757,526.8A122.292,122.292,0,0,1,210,517.429a37.266,37.266,0,0,1,10.729-5.791,13.129,13.129,0,0,1,8.855,0q3.915,1.533,5.963,7.664,2.04,5.794.169,13.624a126.252,126.252,0,0,1-5.11,16.18q-3.239,8.349-6.642,16.347a82.439,82.439,0,0,0-4.767,14.136,80.246,80.246,0,0,0,10.217-7.151q6.466-5.11,13.8-11.751t15.156-14.136q7.834-7.488,14.646-13.964t11.92-11.411q5.11-4.93,7.154-6.642-2.731,3.066-8.345,9.879t-12.773,15.156q-7.15,8.352-14.986,17.2t-15.158,16.518a131.094,131.094,0,0,1-13.624,12.6q-6.3,4.941-9.705,5.622-6.477,1.356-8.345-2.385t-1.022-10.22a83.45,83.45,0,0,1,3.576-14.817q2.72-8.341,5.62-16.347t4.941-14.477q2.04-6.466,1.7-9.538-3.408.691-9.2,5.451-5.8,4.775-11.921,10.73t-11.582,11.751q-5.441,5.794-7.492,7.833c-.453.912-.853,1.7-1.191,2.385a6.343,6.343,0,0,1-1.194,1.7,14.98,14.98,0,0,1-6.47,5.279A9.936,9.936,0,0,1,166.74,568.349Zm49.388-105.929q6.466-12.26,14.136-29.461T244.738,398.9q6.808-16.859,11.751-30.995t5.96-20.606q-3.753,7.154-9.879,21.8T239.8,400.6q-6.643,16.863-13.114,33.551T216.128,462.419Z" transform="translate(8.867 -330.909)" fill="#54493f"/>
                  <path id="Path_112" data-name="Path 112" d="M302.924,415.221q-1.368,1.709-5.279,5.791t-9.708,9.367q-5.8,5.283-12.942,11.411T260.349,453.2a132.253,132.253,0,0,1-14.989,9.2,46.009,46.009,0,0,1-13.962,4.938q-10.907,1.709-15.5-4.429t-4.257-15.668a52.036,52.036,0,0,1,5.279-20.094,49.2,49.2,0,0,1,13.8-17.712,66.243,66.243,0,0,1,11.921-7.323,35.016,35.016,0,0,1,11.58-3.407,15.839,15.839,0,0,1,9.2,1.532q3.742,2.044,4.767,7.494a17.005,17.005,0,0,1-3.747,13.283,51.858,51.858,0,0,1-12.09,11.07,91.338,91.338,0,0,1-15.327,8.345q-8.007,3.408-13.114,5.107-.687,5.8,1.363,9.2t8.173,2.384a66.264,66.264,0,0,0,17.712-5.96,179.843,179.843,0,0,0,19.074-10.729q9.532-6.132,18.224-12.943T302.924,415.221Zm-72.207,13.967a73.941,73.941,0,0,0,13.964-7.154q6.808-4.422,9.2-10.217a29.644,29.644,0,0,0-12.433,6.132A59.5,59.5,0,0,0,230.717,429.188Z" transform="translate(73.977 -233.982)" fill="#54493f"/>
                  <path id="Path_113" data-name="Path 113" d="M308.977,342.53q3.4-6.132,7.151-8.516t6.644-2.213a5.19,5.19,0,0,1,4.426,3.066,14.231,14.231,0,0,1,1.193,7.664q-1.022,9.194-6.982,26.907t-14.817,39.337q-8.859,21.634-19.753,45.471T265.38,499.886c-.458,1.14-1.194,2.894-2.213,5.281s-2.1,5.056-3.237,8a182.236,182.236,0,0,0-4.6,19.584,71.953,71.953,0,0,0-.85,20.266A43.059,43.059,0,0,0,260.27,570.9q4.768,8.007,15.327,12.433a34.328,34.328,0,0,0,6.985,2.216q2.886.507,7.664.85a89.034,89.034,0,0,1-10.391.681,34.622,34.622,0,0,1-10.727-2.044q-15.329-5.11-20.947-15.5a51.085,51.085,0,0,1-5.96-23.331q-.338-11.576,3.233-29.461t9.538-38.318q5.955-20.436,13.624-41.724t15.156-40.021q7.492-18.726,14.138-33.039T308.977,342.53ZM271.85,462.419q6.466-12.26,14.136-29.461T300.463,398.9q6.808-16.859,11.58-30.995t5.789-20.606q-3.75,7.154-9.705,21.8t-12.773,31.5q-6.816,16.863-13.114,33.551T271.85,462.419Z" transform="translate(118.329 -330.909)" fill="#54493f"/>
                  <path id="Path_114" data-name="Path 114" d="M329.269,342.53q3.4-6.132,7.151-8.516t6.642-2.213a5.184,5.184,0,0,1,4.426,3.066,14.182,14.182,0,0,1,1.194,7.664q-1.022,9.194-6.982,26.907t-14.817,39.337q-8.86,21.634-19.753,45.471T285.67,499.886c-.458,1.14-1.194,2.894-2.213,5.281s-2.1,5.056-3.238,8a181.674,181.674,0,0,0-4.6,19.584,71.869,71.869,0,0,0-.853,20.266A43.1,43.1,0,0,0,280.56,570.9q4.768,8.007,15.327,12.433a34.377,34.377,0,0,0,6.985,2.216q2.889.507,7.664.85a88.994,88.994,0,0,1-10.389.681,34.623,34.623,0,0,1-10.729-2.044q-15.326-5.11-20.947-15.5a51.114,51.114,0,0,1-5.96-23.331q-.338-11.576,3.235-29.461t9.536-38.318q5.956-20.436,13.626-41.724t15.156-40.021q7.488-18.726,14.136-33.039T329.269,342.53ZM292.14,462.419q6.466-12.26,14.138-29.461T320.753,398.9q6.808-16.859,11.58-30.995t5.789-20.606q-3.75,7.154-9.705,21.8t-12.773,31.5q-6.816,16.863-13.112,33.551T292.14,462.419Z" transform="translate(147.765 -330.909)" fill="#54493f"/>
                  <path id="Path_115" data-name="Path 115" d="M404.475,355.148q-6.819,31-15.5,58.242T370.074,467.2q30.314,2.048,58.242,2.9t58.586-.512q10.551-32.354,20.263-64.031t17.542-64.374q8.176-2.044,12.433,2.385t2.554,12.261q-8.172,30.655-17.371,58.242t-19.415,54.5q19.752-1.022,39.683-2.9t41.041-3.916q-22.48,3.753-42.744,6.473T501.2,473.336q-6.816,17.039-14.134,36.958t-15.5,40.531q-8.176,20.609-16.861,41.212t-17.881,39q5.786-19.759,12.43-40.872t13.114-41.724q6.466-20.6,12.433-39.511t10.729-34.23q-31,3.066-60.286,4.429T365.3,480.49q-1.709,3.753-3.235,7.664t-3.235,7.664q9.194,5.794,19.243,12.6t19.243,13.8q9.2,6.985,16.521,13.453a69.949,69.949,0,0,1,10.9,11.58q3.577,5.11,2.725,8.516t-8.345,4.088q-8.859-11.576-16.69-20.268a201.221,201.221,0,0,0-15.5-15.5,140.336,140.336,0,0,0-15.327-11.92q-7.665-5.11-15.5-9.536-11.584,26.909-24.353,54.5t-27.079,58.242q7.489-20.1,14.477-39.849t13.114-39.852q3.062-9.194,6.3-18.734t6.3-19.413q-11.584-5.444-24.522-10.048T291.735,476.4h-.681q-7.841-3.4-6.811-7.664t8.173-4.6q4.088-.335,10.729-.341t14.987.341q8.341.342,17.712.85t18.9,1.194Q364.621,434.173,373.48,403t16.008-62.161q1.356-1.022,4.257-.341a15.282,15.282,0,0,1,5.62,2.723,16.156,16.156,0,0,1,4.429,5.11A8.79,8.79,0,0,1,404.475,355.148ZM347.255,489a37.15,37.15,0,0,0,3.063-8.855q-4.772,0-9.876-.172t-10.217-.51a69.55,69.55,0,0,1,6.3,3.235Q341.124,485.258,347.255,489Z" transform="translate(179.165 -318.664)" fill="#54493f"/>
                  <path id="Path_116" data-name="Path 116" d="M508.17,417.142q-3.408,4.091-11.411,12.092t-17.54,16.349A193.26,193.26,0,0,1,459.8,460.569q-9.882,6.643-17.371,8t-11.068-4.257q-3.577-5.621-.172-22.309-5.8,5.8-11.411,10.9t-10.729,9.026a71.036,71.036,0,0,1-9.2,6.132q-4.088,2.217-6.811,1.873-8.176-.68-9.538-8.173t1.7-17.2a82.9,82.9,0,0,1,9.536-19.756,66.7,66.7,0,0,1,14.136-16.177q7.665-6.128,15.156-5.96t12.6,10.389q2.72-3.746,6.47-8.685t7.494-6.642a4.647,4.647,0,0,1,3.063-.341c1.135.228,2.044,1.139,2.725,2.723q.68,1.026-1.532,6.3t-5.281,12.261q-3.062,6.985-5.96,14.646a65.218,65.218,0,0,0-3.745,13.624q-.856,5.963,1.191,9.026t8.857.681a72.626,72.626,0,0,0,14.646-7.323q8.51-5.275,16.859-11.242T497.1,426.34Q504.419,420.554,508.17,417.142Zm-80.723,6.472q-2.386-11.238-6.982-10.048t-9.367,8.176a94.751,94.751,0,0,0-8.855,16.687,75.054,75.054,0,0,0-5.11,15.839q3.066-2.044,8.514-5.96a122.706,122.706,0,0,0,10.56-8.516,88.974,88.974,0,0,0,8.683-8.855Q428.471,426.684,427.447,423.614Z" transform="translate(322.742 -235.903)" fill="#54493f"/>
                  <path id="Path_117" data-name="Path 117" d="M478.772,414.355q-7.5-4.422-14.646-2.894a25.782,25.782,0,0,0-12.43,6.473,38.526,38.526,0,0,0-8.516,11.749,28.242,28.242,0,0,0-3.066,12.945,14.178,14.178,0,0,0,4.088,10.046q3.911,3.919,12.773,3.237,9.87-1.356,26.566-10.729t42.575-29.122q-6.128,6.132-15.5,15.158a250.905,250.905,0,0,1-20.1,17.371,149.494,149.494,0,0,1-21.628,14.134q-10.9,5.8-20.1,4.769-9.881-1.022-14.815-6.982a24.833,24.833,0,0,1-5.62-14.136,42.383,42.383,0,0,1,2.382-17.2A52.033,52.033,0,0,1,439.6,413a39.567,39.567,0,0,1,14.133-11.07,29.963,29.963,0,0,1,18.222-2.213q6.132,1.018,8.007,3.4a7.753,7.753,0,0,1,1.872,4.769,7.07,7.07,0,0,1-1.363,4.257A27.484,27.484,0,0,1,478.772,414.355Z" transform="translate(388.243 -233.117)" fill="#54493f"/>
                  <path id="Path_118" data-name="Path 118" d="M452.194,567.848q2.386-6.466,5.96-14.646t7.664-16.859q4.084-8.687,8-17.543t7.663-17.03q8.852-20.436,16.006-41.722t14.477-41.9q7.323-20.605,15.668-39.85a223.027,223.027,0,0,1,19.584-35.936q4.088-6.128,8.007-8.683t6.811-2.216a5.619,5.619,0,0,1,4.429,3.235q1.533,2.9.85,7.664-1.364,9.2-8,26.738t-16.349,39.34q-9.7,21.8-21.628,45.471t-23.5,45.128a38.489,38.489,0,0,1,8.855-2.894q4.422-.846,9.2-1.532,7.488-.338,10.732,2.213a7.637,7.637,0,0,1,3.063,6.642q-.176,4.088-3.406,9.026a41.587,41.587,0,0,1-8.685,9.367A85.1,85.1,0,0,1,501.239,532.6a128.051,128.051,0,0,0-15.668,9.024q2.724,2.044,10.22,7.663t15.837,11.751q8.341,6.132,15.327,11.07t8.345,5.96q-5.794-3.4-12.43-6.811t-13.455-6.985Q502.6,560.7,496.3,557.29t-11.07-6.472a29.3,29.3,0,0,1-5.279-4.6,12.464,12.464,0,0,1-2.213-3.916q-1.7-.338-3.747,4.426t-5.11,10.389a38.732,38.732,0,0,1-7.151,9.536Q457.642,570.576,452.194,567.848Zm30.995-37.124q3.4-2.382,8-5.11t9.2-5.622q4.6-2.889,8.857-5.96a27.8,27.8,0,0,0,6.639-6.47q-9.194,0-18.222,6.811A53.758,53.758,0,0,0,483.189,530.724Zm22.138-68.8q7.154-12.264,15.668-29.291T537,398.74q7.488-16.862,12.942-30.826t6.473-20.437q-4.088,7.154-10.729,21.459T531.724,400.1q-7.33,16.859-14.474,33.551T505.327,461.921Z" transform="translate(422.994 -331.43)" fill="#54493f"/>
                  <path id="Path_119" data-name="Path 119" d="M531.413,411.411q-3.066-2.724-8.688-2.215A21.684,21.684,0,0,0,512.68,412.6a12.654,12.654,0,0,0-5.622,7.833q-1.195,4.944,4.6,10.729a13.67,13.67,0,0,1,1.191,1.365,11.909,11.909,0,0,0,1.194,1.36q8.507-2.378,15.327-3.916t12.942-3.235q6.132-1.7,12.43-4.088a111.34,111.34,0,0,0,13.8-6.472,139.1,139.1,0,0,1-14.646,8.688q-6.474,3.238-12.092,5.448T530.56,434.23q-5.621,1.709-11.751,3.747,3.4,3.066,6.982,6.811a30.225,30.225,0,0,1,5.622,8.176,22.481,22.481,0,0,1,2.041,9.536q0,5.11-3.745,10.9-6.132,9.54-16.349,10.558a33.418,33.418,0,0,1-18.9-3.407,29.688,29.688,0,0,1-13.114-12.773q-4.422-8.341.681-17.54,1.706-3.746,6.813-6.642a91.06,91.06,0,0,1,12.259-5.62q-6.128-7.83-5.96-14.986a21.357,21.357,0,0,1,4.257-12.6,27.135,27.135,0,0,1,11.07-8.514,31.145,31.145,0,0,1,14.136-2.728q7.154.687,9.877,2.728t2.725,4.085a5.023,5.023,0,0,1-1.872,3.747A5.763,5.763,0,0,1,531.413,411.411Zm-24.865,30.995a5.754,5.754,0,0,1-1.7.851,3.032,3.032,0,0,0-1.363.853q-11.238,5.448-13.283,11.068t1.194,9.707q3.239,4.088,10.046,5.791a22.051,22.051,0,0,0,13.283-.681q5.448-2.379,5.96-6.132a12.056,12.056,0,0,0-1.7-7.663,32.777,32.777,0,0,0-5.963-7.492Q509.268,445.13,506.548,442.406Z" transform="translate(462.303 -233.236)" fill="#54493f"/>
                </g>
                <text id="With_love_from_" data-name="With love from " transform="translate(626.601 6091.095)" fill="#9e8d7d" font-size="60" font-family="Montserrat-Medium, Montserrat" font-weight="500"><tspan x="-236.13" y="0">With love from </tspan></text>
                <rect id="Rectangle_7" data-name="Rectangle 7" width="1920" height="201" transform="translate(-11 6798)" fill="#10709c"/>
                <g id="Group_26" data-name="Group 26" transform="matrix(0.978, 0.208, -0.208, 0.978, 37.944, 5016.251)">
                  <g id="Group_22" data-name="Group 22" transform="translate(1642.129 688.275)">
                    <path id="Path_130" data-name="Path 130" d="M1666.989,721.284c9.982-43.711,6.435-38.1,43.81-17.066,171.672,96.609,352.354,279.043,510.6,520.163l37.849,398.842-454.045,55.75C1678.282,1394.667,1619.873,927.425,1666.989,721.284Z" transform="translate(-1642.129 -688.269)" fill="#ffd576" fill-rule="evenodd"/>
                    <path id="Path_131" data-name="Path 131" d="M1687.167,730.477c-19.1-10.776-27.508-17.467-32.5-15.646,8.26-36.628,6.926-30.56,42.349-10.606,171.672,96.609,352.355,279.043,510.6,520.163v37.644l-9.846-11.392C2039.519,1009.572,1858.837,827.077,1687.167,730.477Z" transform="translate(-1628.339 -688.275)" fill="#f2ca6d" fill-rule="evenodd"/>
                  </g>
                  <path id="Path_132" data-name="Path 132" d="M1820,1032.043l-6.778,3.308,9.031,18.5a31.461,31.461,0,0,1-3.511,2.793,32.993,32.993,0,1,0-.3.208,31.618,31.618,0,0,1-3.917,2.262l-.374.183-9.619-19.706-5.156,2.516a1.339,1.339,0,0,1-1.793-.618l-3.1-6.359a1.338,1.338,0,0,1,.617-1.794l5.112-2.5-3-6.154a11.284,11.284,0,0,1-.87-1.728,11.15,11.15,0,0,1,6.24-14.481l5.362-2.619a1.342,1.342,0,0,1,1.794.618l2.619,5.364,0,.013a1.344,1.344,0,0,1-.807,1.718l-3.2,1.562c-3.49,1.7-3.3,3.774-2.127,6.185l2.6,5.322,7.607-3.713.063-.023a1.342,1.342,0,0,1,1.688.867l2.5,6.6A1.3,1.3,0,0,1,1820,1032.043Z" transform="translate(138.898 341.09)" fill="#cea95f"/>
                  <g id="Group_23" data-name="Group 23" transform="translate(2066.895 1264.914)">
                    <circle id="Ellipse_2" data-name="Ellipse 2" cx="6.355" cy="6.355" r="6.355" transform="translate(25.842 25.779)" fill="#cea95f"/>
                    <path id="Path_133" data-name="Path 133" d="M1869.808,970l-14.592,7.122a7.933,7.933,0,0,0-3.648,10.608l7.122,14.59a7.979,7.979,0,0,0,10.608,3.65l14.59-7.122a7.979,7.979,0,0,0,3.65-10.608l-7.122-14.592A7.933,7.933,0,0,0,1869.808,970Zm4.3,27.324a10.392,10.392,0,1,1,4.78-13.9A10.395,10.395,0,0,1,1874.112,997.322Zm1.361-20.9a2.505,2.505,0,1,1-2.2-4.5l.042-.021a2.459,2.459,0,0,1,3.287,1.132l.021.042A2.5,2.5,0,0,1,1875.473,976.42Z" transform="translate(-1837.357 -955.848)" fill="#cea95f"/>
                    <path id="Path_134" data-name="Path 134" d="M1862.474,966.084a32.147,32.147,0,1,0,42.97,14.848l-.021-.04A32.145,32.145,0,0,0,1862.474,966.084Zm35.714,27.374a12.013,12.013,0,0,1-5.507,16l-14.59,7.124a12.015,12.015,0,0,1-16.005-5.507l-7.122-14.59a11.968,11.968,0,0,1,5.507-16.006l14.59-7.122a11.969,11.969,0,0,1,16.006,5.5Z" transform="translate(-1844.379 -962.839)" fill="#cea95f"/>
                  </g>
                  <path id="Path_135" data-name="Path 135" d="M1824.57,983.815a32.142,32.142,0,1,0,42.964,14.848l-.021-.042A32.142,32.142,0,0,0,1824.57,983.815Zm23.447,16.736a1.213,1.213,0,0,0-.01,1.037,20.377,20.377,0,0,1,1.928,6.8,21.462,21.462,0,0,1-.63,7.378,19,19,0,0,1-3.552,6.895,19.886,19.886,0,0,1-6.833,5.349,19.671,19.671,0,0,1-10.1,1.936.541.541,0,0,1-.2-1.04l.75-.365a13.236,13.236,0,0,0,5.672-5.3,7.185,7.185,0,0,1-7.222-1.789l.124-.061a.374.374,0,0,1,.214-.622l1.084-.529a7.235,7.235,0,0,1-6.7-4.108.425.425,0,0,1-.025-.145.419.419,0,0,1,.424-.412,7.019,7.019,0,0,0,1.89-.252,7.277,7.277,0,0,1-4.383-3.692,7.2,7.2,0,0,1-.355-4.215.365.365,0,0,1,.04-.113.37.37,0,0,1,.5-.151,18.969,18.969,0,0,0,14.681.577,8.547,8.547,0,0,1-1.159-2.378,7.055,7.055,0,0,1,1.972-6.536,7.506,7.506,0,0,1,2.252-1.2,7.09,7.09,0,0,1,4.961-.41,1.118,1.118,0,0,0,.584-.286,13.18,13.18,0,0,0,2.518-2.879.364.364,0,0,1,.34-.206.372.372,0,0,1,.364.378,7.1,7.1,0,0,1-.389,3.545,14.064,14.064,0,0,0,1.739-1.726l.061.124a.372.372,0,0,1,.661.3A14.312,14.312,0,0,1,1848.017,1000.551Z" transform="translate(180.818 321.583)" fill="#cea95f"/>
                  <g id="Group_24" data-name="Group 24" transform="translate(1828.512 1379.659)">
                    <path id="Path_136" data-name="Path 136" d="M1744.359,1033.53a3.381,3.381,0,1,0,4.28,1.663A3.253,3.253,0,0,0,1744.359,1033.53Z" transform="translate(-1717.897 -1000.134)" fill="#cea95f"/>
                    <path id="Path_137" data-name="Path 137" d="M1749.108,1031.213a3.382,3.382,0,1,0,4.282,1.661A3.251,3.251,0,0,0,1749.108,1031.213Z" transform="translate(-1712.67 -1002.685)" fill="#cea95f"/>
                    <path id="Path_138" data-name="Path 138" d="M1791.91,1035.525a32.143,32.143,0,1,0-14.786,42.985A32.143,32.143,0,0,0,1791.91,1035.525Zm-15.611,21.924s-1.554-.706-2.88-1.344a9.508,9.508,0,0,0,3.361-5.675,18.412,18.412,0,0,1-2.365,3.167,21.845,21.845,0,0,1-3.4,3.127,21.52,21.52,0,0,1-7.1,3.449,23.46,23.46,0,0,1-4.593.783,17.892,17.892,0,0,1-2.469.038c-.114,0-.223-.008-.324-.015l-.153-.01c-.624-.042-.983-.1-.983-.1a9.441,9.441,0,0,0,6.368.876c-.315,1.449-.722,3.154-.722,3.154-6.139,2.766-10.4-.094-10.4-.094a40.78,40.78,0,0,1-3.846-17.873,14.931,14.931,0,0,1,6.275-6.622l.439.185c-4.247,3.826-5.429,7.1-5.429,7.1a18.2,18.2,0,0,1,1.244-1.575,23.251,23.251,0,0,1,5.368-4.765c.141-.1.281-.193.426-.29a26.034,26.034,0,0,1,5.513-2.751,24.838,24.838,0,0,1,9.531-1.4,19.993,19.993,0,0,0-8.521-.151l.168-.626a14.931,14.931,0,0,1,9.081-.876,40.767,40.767,0,0,1,11.727,14.027S1782.255,1054.313,1776.3,1057.449Z" transform="translate(-1730.874 -1017.474)" fill="#cea95f"/>
                  </g>
                  <g id="Group_25" data-name="Group 25" transform="translate(1803.684 1171.357)">
                    <path id="Upsilon" d="M1784.592,1039.6l14.05-7.025,2.7-1.35-9.151-18.3-6.36,3.18-.666-1.332-4.144-8.288,2.38-30.65,6.092-3.046-9.151-18.3-26.356,13.177,7.827,15.653,2.711.725-.723,13.713-.208.1-11.4-7.65,1.046-2.6-7.826-15.653-26.356,13.177,9.151,18.3,6.091-3.046,25.947,16.487,4.144,8.288.666,1.332-6.36,3.18,9.151,18.3,2.7-1.35,14.05-7.025" transform="translate(-1719.052 -878.472)" fill="#cea95f"/>
                    <path id="Pi" d="M1796.573,969.877l3.564-1.782,25.745,51.491,27.332-13.665-9.151-18.3-5.857,2.928-16.594-33.189,5.857-2.928-9.151-18.3-30.9,15.447-32.8,16.4,9.151,18.3,6.345-3.172,16.594,33.189-6.345,3.172,9.151,18.3,27.82-13.91L1791.6,972.365Z" transform="translate(-1679.915 -898.669)" fill="#cea95f"/>
                    <path id="Epsilon" d="M1852.7,961.33l4.775,9.551-13.91,6.955,3.782,7.565,13.91-6.955-2.2-4.393,17.326-8.663,11.347,22.7-61.5,30.747-9.151-18.3,5.857-2.928-8.557-17.116-8.036-16.072-5.857,2.928-9.151-18.3,61.5-30.747,11.1,22.207-17.327,8.663-1.952-3.9-13.91,6.955,3.783,7.565,13.91-6.955Z" transform="translate(-1639.518 -918.292)" fill="#cea95f"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <p>11200 SW 8th St  -  PG6 130A  -  Miami, FL 33199-2516<br>upe@fiu.edu  -  upe.fiu.io - discord.gg/upefiu</p>
    </footer>
</body>
</html>

