<style>
    body {
        font-family: sans-serif;
    }

    .email-bg {
        background: #F6F8FA;
        padding: 30px 0px 30px 0px;
        color: white;
    }

    .pre-head {
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 0px 10px 0px;
        background: #F6F8FA;
        font-size: 10px;
        color: black;
    }

    .header {
        max-width: 600px;
        padding: 10px 20px 20px 20px;
        margin: 0 auto;
        background-color: white;
    }

    .email-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 10px 20px 20px 20px;
        background: #fff;
        color: black;
    }

    img {
        max-width: 100%;
    }

    .greeting {
        color: black;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    a {
        color: #FF6249;
    }

    .cto {
        color: white;
        display: block;
        margin: 24px auto;
        width: 240px;
        background: #FF6249;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        padding: 16px 24px;
        font-size: 20px;
    }

    .listing-head {
        color: black;
        font-size: 24px;
        margin: 20px 0px 12px 0px;
        font-weight: bold;
    }

    .address {
        color: black;
        font-size: 26px;
        text-decoration: none;
    }

    .footer {
        background-color: white;
        margin-top: 10px;
        color: black;
        padding: 5px;
        font-size: 11px
    }

    .price {
        margin: 6px 0 16px 0;
        font-size: 26px;
        font-weight: bold;
    }

    .details {
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px;
    }

    .details td {
        width: 33.3%;
        border-top: 4px solid #D8D8D8;
        padding: 16px 0 16px;
        text-align: center;
        font-size: 24px;
    }

    .details td span {
        font-size: 12px;
        color: #FF6249;
    }

    .agent-image {
        padding: 0 12px 0 0;
    }
</style>
<div class="email-bg" style="background: #F6F8FA;padding: 30px 0px 30px 0px;color: white;">
    <div class="pre-head" style="max-width: 600px;margin: 0 auto;padding: 0px 0px 10px 0px;background: #F6F8FA;font-size: 10px;color: black;">
        <p>You've registered for MangoHacks! 🎉</p>
    </div>
    <div class="header" style="max-width: 600px;padding: 10px 20px 20px 20px;margin: 0 auto;background-color: white;">
        <img src="https://res.cloudinary.com/biensupernice/image/upload/v1545105283/email_bg_4_zz1dbx.jpg" alt="MRE"
            style="max-width: 100%;">
    </div>
    <div class="email-container" style="max-width: 600px;margin: 0 auto;padding: 10px 20px 20px 20px;background: #fff;color: black;">
        <p class="greeting" style="color: black;font-size: 36px;font-weight: bold;text-align: center;">You've applied
            to Florida's sweetest hackathon! 🎉</p>
        <p>Hi hackers! MangoHacks is right around the corner and we're super excited to have you at Florida
            International Unversity this weekend.</p>

        <p>
            That being said, we have some IMPORTANT LOGISTICAL INFORMATION that will help things go smoothly.
        </p>

        <h3>Registration</h3>
        <p>
            Registration will happen in front of the atrium at <a href="https://mangohacks.com" style="color: #FF6249;">PG6
                Tech Station.</a><br>
            <strong>Time:</strong> Friday 6:00pm to 8:00pm
        </p>
        <h3>Parking</h3>
        <p>
            PG6 Tech Station is a parking lot on the top levels. If you are parking on campus and you're not an FIU
            student, contact us at <a href="mailto:team@mangohacks.com" style="color: #FF6249;">team@mangohacks.com</a>
            or on the <a href="/" style="color: #FF6249;">facebook attendees group</a> and we'll
            set you up with a weekend permit. Otherwise you can park at the visitor parking lots.
        </p>
        <h3>Events</h3>
        <p>
            We have a lot of events planned for you. Ranging from workshops that will take you from basics of coding,
            to frameworks and technologies to build your idea, to deploying your app. And also events that will help
            you make an impact in society or explore
            your dream venture. Check these out at the <a href="https://mangohacks.com" style="color: #FF6249;">Tracks
                Page</a>. Everyone is welcome to attend any of these.
        </p>
        <h3>Join us on Slack and Facebook</h3>
        <p>
            We'll be using slack as a form of communication, as well as a way to connect you with mentors and other
            hackers. <br> You should have received a slack invite to your email. You can also request an invite bellow.
        </p>
        <p>
            IBM will be holding a workshop on IOT and Bluemix. Make sure you <a href="http://www.ibm.com/cloud-computing/bluemix/"
                style="color: #FF6249;">Register for Bluemix.</a>
            <br><br> Miami Beach Visitor and Convention Authority will be awarding price for the best use of the Miami
            Beach API. <a href="http://www.miamibeachapi.com/" style="color: #FF6249;">Register for a free acount here.</a>
        </p>

        <a class="cto" href="https://slack.com" style="color: white;display: block;margin: 24px auto;width: 240px;background: #FF6249;border-radius: 5px;text-align: center;text-decoration: none;font-weight: bold;padding: 16px 24px;font-size: 20px;">Join
            Slack</a>
        <p>
            Also, join our <a href="https://facebook.com/mangohacks" style="color: #FF6249;">Attendees Facebook Group</a>
            to start meeting other hackers, organize carpools, share gifs, and get the HYPE going.
        </p>
        <h3>Check out Devpost!</h3>
        <p>
            Want to see what you will be battling for this weekend? We'll be posting updates on prizes as well as the
            judging criteria on our Devpost.
            <br> Also, if you do not have a Devpost account, make sure to make one prior to hacking as you will use
            Devpost to submit your project.
        </p>
        <a href="https://devpost.com" class="cto" style="color: white;display: block;margin: 24px auto;width: 240px;background: #FF6249;border-radius: 5px;text-align: center;text-decoration: none;font-weight: bold;padding: 16px 24px;font-size: 20px;">Check
            out Devpost!</a>
        <p>
            That's all for now. If you still have any questions, hit us up at <a href="mailto:team@mangohacks.com"
                style="color: #FF6249;">team@mangohacks.com</a> or on <a href="https://facebook.com/fiumangohacks"
                style="color: #FF6249;">Facebook</a> and <a href="https://twitter.com/fiumangohacks" style="color: #FF6249;">Twitter</a>.
            Also, visit mangohacks.com to see our schedule, FAQs, and more.
            <br><br> Get HYPED for this weekend and we'll see you all on Friday!</p>

        <p>&lt;3</p>
        <p>The MangoHacks Team</p>

        <div class="footer" style="background-color: white;margin-top: 10px;color: black;padding: 5px;font-size: 11px;">
            <p>
                &copy; 2019 MangoHacks
            </p>
        </div>

    </div>

</div>