<style>
  body {
    font-family: sans-serif;
  }

  .email-bg {
    background: #F6F8FA;
    padding: 30px 0px 30px 0px;
    color: white;
  }

  .pre-head {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    background: #F6F8FA;
    font-size: 10px;
    color: black;
  }

  .header {
    max-width: 600px;
    padding: 10px 20px 20px 20px;
    margin: 0 auto;
    background-color: white;
  }

  .email-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background: #fff;
    color: black;
    text-align: center;
    line-height: 40px;
  }

  .email-container p {
    font-size: 15px
  }

  .email-container hr {
    width: 70px;
    margin: 20px auto;
    border: 1px solid black;
  }

  img {
    max-width: 100%;
  }

  .greeting {
    color: black;
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
  }

  a {
    color: #FF6249;
  }

  .cto {
    color: white;
    display: block;
    margin: 24px auto;
    width: 240px;
    background: #FF6249;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 16px 24px;
    font-size: 20px;
  }

  .listing-head {
    color: black;
    font-size: 24px;
    margin: 20px 0px 12px 0px;
    font-weight: bold;
  }

  .address {
    color: black;
    font-size: 26px;
    text-decoration: none;
  }

  .footer {
    background-color: white;
    margin-top: 0px;
    color: black;
    padding: 0px;
    font-size: 11px
  }

  .price {
    margin: 6px 0 16px 0;
    font-size: 26px;
    font-weight: bold;
  }

  .details {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .details td {
    width: 33.3%;
    border-top: 4px solid #D8D8D8;
    padding: 16px 0 16px;
    text-align: center;
    font-size: 24px;
  }

  .details td span {
    font-size: 12px;
    color: #FF6249;
  }

  .agent-image {
    padding: 0 12px 0 0;
  }

  .social-media a {
    text-decoration: none;
  }

  .social-media img {
    padding: 0 5px;
    height: 20px;
  }
</style>
<div class="email-bg" style="background: #F6F8FA;padding: 30px 0px 30px 0px;color: white;">
  <div class="pre-head" style="max-width: 600px;margin: 0 auto;padding: 0px 0px 10px 0px;background: #F6F8FA;font-size: 10px;color: black;">
    <p>You've signed up to give a workshop at MangoHacks! 🎉</p>
  </div>
  <div class="header" style="max-width: 600px;padding: 10px 20px 20px 20px;margin: 0 auto;background-color: white;">
    <img src="https://res.cloudinary.com/biensupernice/image/upload/v1545431350/workshop_email_bg_u1l9v3.jpg" alt="MRE"
      style="max-width: 100%;">
  </div>
  <div class="email-container" style="max-width: 600px;margin: 0 auto;padding: 10px 20px 20px 20px;background: #fff;color: black;text-align: center;line-height: 40px;">
    <p class="greeting" style="color: black;font-weight: bold;text-align: center;font-size: 30px !important;">A
      Workshop…thanksssss 🍰</p>
    <img src="https://media.giphy.com/media/ny7UCd6JETnmE/giphy.gif" alt="GIF" style="max-width: 100%;">
    <hr style="width: 70px;margin: 20px auto;border: 1px solid black;">
    <h3>Workshop Summary:</h3>
    <p style="font-size: 15px;">
      {{firstName}} {{lastName}}
      <br>
      <b>{{title}}</b>
      <br>
      {{description}}
      <br>
      <strong>Thanks for applying!</strong></p>
    <hr style="width: 70px;margin: 20px auto;border: 1px solid black;">
    <span>&lt;3</span>
    <p style="font-size: 15px;">The MangoHacks Team</p>
    <div class="social-media">
      <a href="https://www.facebook.com/mangohacks" style="color: #FF6249;text-decoration: none;">
        <img src="https://i.imgur.com/CZOS2up.png" style="max-width: 100%;padding: 0 5px;height: 20px;">
      </a>
      <a href="https://www.twitter.com/fiumangohacks" style="color: #FF6249;text-decoration: none;">
        <img src="https://i.imgur.com/4G7Yajp.png" style="max-width: 100%;padding: 0 5px;height: 20px;">
      </a>
      <a href="https://www.instagram.com/fiumangohacks" style="color: #FF6249;text-decoration: none;">
        <img src="https://i.imgur.com/3SvBpxh.png" style="max-width: 100%;padding: 0 5px;height: 20px;">
      </a>
      <a href="https://mangohacks.slack.com" style="color: #FF6249;text-decoration: none;">
        <img src="http://i.imgur.com/MRFlHOf.png" style="max-width: 100%;padding: 0 5px;height: 20px;">
      </a>
    </div>
    <div class="footer" style="background-color: white;margin-top: 0px;color: black;padding: 0px;font-size: 11px;">
      <p style="font-size: 15px;">
        &copy; 2019 MangoHacks
      </p>
    </div>

  </div>

</div>